.card-custom {
    height: 400px; 
    width: 300px; 
    margin-bottom: 20px; 
}
.card-img-top-custom {
    height: 250px;
    object-fit: cover;
    width: 100%;
}
.card-body-custom {
    padding: 10px; 
}

