
{% extends "firstTemplate.html" %}
{% block title %} ARTISTAS {% endblock %}

{% block content %}

<div class="container p-4">
    <div class="row p-4" id="allCardsContainer">
        {% for artista in artistas %}
            <div class="col-md-3 d-flex align-items-stretch">
                <div class="card text-center card-custom">
                    <a href="{% url 'artista_page' nombre=artista.nombre %}" >
                        <img src="{{ artista.imgUrl }}" class="card-img-top card-img-top-custom img-thumbnail" alt="{{ artista.nombre }}">
                    </a>
                    <div class="card-body card-body-custom">
                        <h5 class="card-title">{{ artista.nombre }}</h5>
                        <p class="card-text">{{ artista.descripcion }}</p>
                        <p class="card-text">Cantidad de Obras:</p>
                        <p class="card-text">{{ artista.cantidad_obras }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>






{% endblock %}