{% load static %}

<!DOCTYPE html>
<html lang="en">
<body>

    <div class='container text-center'>
        <h1 class="display-1">NUEVOS ARTISTAS</h1>
        </div>
    <div class="artistas-container">
        <div class="container-fluid">
            <div class="row g-4">

                {% for artista in usuarios %}

                <div class="col">
                    <div class="artista-card">
                        <a href="{% url 'artista_page' id=artista.id %}">
                            <img src="{{ artista.imgUrl }}" class="artista-img" alt="{{ artista.username }}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ artista.username }}</h5>
                            <h5 class="card-title text-center">{{ artista.first_name }} {{ artista.last_name }} </h5>
                            <p class="card-text text-center">{{ artista.descripcion|default:"sin descripcion" }}</p>
                            <p class="card-text text-center">Cantidad de obras: {{ artista.cantidad_obras }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container-fluid mt-3">
            <h4 class="text-center"><a href="{% url 'artistas' %}">Todos los artistas...</a></h4>
        </div>
    </div>
    <br/>
    <div class='container text-center'>
        <h1 class="display-1">NUEVAS OBRAS</h1>
        </div>
    <div class="artistas-container">
        <div class="container-fluid">
            <div class="row g-4">
                {% for obra in obras %}
                    <div class="col">
                        <div class="artista-card">
                            <a href="{% url 'obra_page' nombre=obra.nombre %}" >
                            <img src="{{ obra.imgUrl }}" class="artista-img" alt="{{ obra.nombre }}">
                            </a>
                            <div class="card-body text-center p-2">
                                <h5 class="card-title text-center">{{ obra.nombre }}</h5>
                                <p class="card-text text-center">{{ obra.descripcion|default:"sin descripcion" }}</p>

                                {% if obra.disponible %}
                                    <h4 class="card-title">Valor: ${{ obra.precio }}</h4>
                                    <a class="btn btn-primary" href="{% url 'agregar_obra' obra_id=obra.id_obra %}">Agregar a Carrito</a>
                                {% else %}
                                    <h4 class="card-title">No disponible</h4>
                                {% endif %}
                            </div>

                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container-fluid mt-3 ">
            <h4 class="text-center"><a href="{% url 'obras' %}">Todas las obras...</a></h4>
        </div>
    </div>
    

</body>
</html>